{% load static %}
<!DOCTYPE html>
<html>
    <head>
        
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="{% static '/css/dashboard.css' %}">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
        <style>
            footer{
                top: 95%;
                position: absolute;
            }
            nav, .waves-effect{
                background-color: #f9a825;
            }
        </style>
    </head>
    <body>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script> 
        
        <section class="center-align">
            Hostel Management Portal
        </section>

        <nav>
            <div className="nav-wrapper">
                <ul id="nav-mobile" className="left hide-on-med-and-down">
                    <li><a href="dashboard">Home</a></li>
                    <li><a href="room_register_1_3_4">Book your room</a></li>
                    <li><a href="knowYourWarden">Know your warden</a></li>
                    <li><a href="complainForm">Complaint</a></li>
                    <li><a href="signout">Sign Out</a></li>
                </ul>
            </div>
        </nav>
        <br/>
        <br/>
        <div class="container" style="width: 600px;" >
            <div class="row">
                <form class="col s12" method='POST' action="complainFormSubmission">
                    {%csrf_token%}
                    <div class="row">
                        <div class="input-field col s12">
                            <input id="rollno" type="text" required name="roll_no">
                            <label for="rollno">Roll No</label>
                        </div>
                    </div>

                    <div class="row">
                        <div class="input-field col s12">
                            <input id="complainText" type="text" name="complainText" required>
                            <label for="complainText">Complain</label>
                        </div>
                    <br/>
                <input type="submit" value="SUBMIT" class="waves-effect waves-light btn-large center darken-4"
                        style="background-color: #f9a825;">
                  </div>
                </form>
            </div>
        </div>

        <footer>
            <div class="row center">
                <p>Akanksha More, Deepta Devkota, Mansi Singh</p>
            </div>
        </footer>
    </body>
</html>