{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="{% static '/css/dashboard.css' %}">
    </head>
    <body>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script> 
        
        <section class="center-align">
            Hostel Management Portal
        </section>

        <nav>
            <div className="nav-wrapper">
                <ul id="nav-mobile" className="left hide-on-med-and-down">
                    <li><a href="home">Home</a></li>
                    <li><a href="signin">Sign In</a></li>
                    <li><a href="register">Register</a></li>
                    <li><a href="#">Staff</a></li>
                    <li><a href="#">Contact Us</a></li>
                </ul>
            </div>
        </nav>
        <section id="main">
            <section id="content">
                <h1>Spend your best days here!</h1>
                <br/>
                <br/>
                <a class="waves-effect waves-light btn-large" href="register"> Register Now</a>
            </section>
            
        </section>

        <footer>
            <div class="row center">
                <p>Akanksha More, Deepta Devkota, Mansi Singh</p>
            </div>
        </footer>
    </body>
</html>