{% load static %}

<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="{% static '/css/dashboard.css' %}">
    </head>
    <body>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script> 
        
        <section class="center-align">
            Hostel Management Portal
        </section>

        <nav>
            <div className="nav-wrapper">
                <ul id="nav-mobile" className="left hide-on-med-and-down">
                    <li><a href="dashboard">Home</a></li>
                    {%if not r_block.room%}
                        {% if student.year == 2  %}
                            <li><a href="room_register2">Book your room</a></li>
                            <li><a href="waiting_table_form"> Waiting Table Form</a></li>
                        {% else %}
                            <li><a href="room_register134">Book your room</a></li>
                        {% endif %}
                    {% endif %}
                    <li><a href="knowYourWarden">Know your warden</a></li>
                    <li><a href="complainForm">Complaint</a></li>
                    <li><a href="signout">Sign Out</a></li>
                </ul>
            </div>
        </nav>
        <section id="main">
            <section id="content">
                <h1>Welcome! {{user.first_name}} {{user.last_name}}</h1>
                <br/>
                <br/>
                {% if user.is_authenticated %}
                    {% if r_block.room %}
                        <h3>Your Block: {{r_block.block}}</h3>
                        <h3>Your Room No : {{r_block.room}}</h3>
                    {% else %}
                        {% if student.year == 2  %}
                            <a class="waves-effect waves-light btn-large" href="room_register2"> Book Your Room Now!</a>
                            <a class="waves-effect waves-light btn-large" href="waiting_table_form"> Waiting Table Form!</a>
                        {% else %}
                            <a class="waves-effect waves-light btn-large" href="room_register134"> Book Your Room Now!</a>
                        {% endif %}
                    {% endif %}
                    {% for message in messages%}
                        <h3>{{message}}</h3>
                    {% endfor %}
                {% endif %}
            </section>
            <img id="slide" src='{% static "images/bg.jpg" %}'>
        </section>

    </body>
</html>